.about-container{
    height: 600px;
    width: 82%;
    background-color: rgb(241, 237, 237);
    margin: 55px 0 0 16%;
}
.about-info{
    padding-top: 6%;
    padding-left: 4%;
}
.about-info h1{
    font-size: 40px;
    padding-left: 8px;
}
.about-info p{
    margin-right: 26%;
    font-size: 18px;
    line-height: 1.5rem;
    word-spacing: 0.2rem;
}
.btn-container{
  margin: 50px 0;
}
.about-resume-btn{
    width: 12%;
    background-color: rgb(247, 237, 237);
    padding: 10px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 6px;
    text-align: center;
    cursor: pointer;
}
.about-educ-btn{
    width: 12%;
    background-color: rgb(191, 178, 178);
    padding: 10px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 6px;
    text-align: center;
    margin-left: 30px;
    cursor: pointer;
}